node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma

.next/
prisma/*.db
prisma/*.db-journal
*.log

# Data and Scripts
data/
*.js
!package.json
!next.config.js
!postcss.config.js
!tailwind.config.js
!src/**/*.js

